
.islandClass {
    fill-opacity: 0;
    stroke-opacity: 0;
    /* &:hover {
        //opacity: 0.5;
        fill-opacity: 0.7;
        stroke-opacity: 0.7;
    } */
    z-index: 60;
    stroke-width: 2;
    @include transition(fill-opacity, 1s); 
    @include transition(stroke-opacity, 1s); 

    &.show {
        fill-opacity: 0.2;
        stroke-opacity: 0.7;
    }


    &.outpost, &.seapost {
        fill: $outpost;
        stroke: $outpost;
    }

    &.pigs {
        stroke: $pig;
        fill: $pig;
    }

    &.snakes {
        stroke: $snake;
        fill: $snake;
    }

    &.chickens {
        stroke: $chicken;
        fill: $chicken;
    }
}

.chickMarker, .snakeMarker, .pigMarker {
    stroke-width: 2;
}