
body {
    background: $dark;
}

//Fix for lines between leaflet tiles.
.leaflet-tile-container img {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
}


.app-only {
    display:none !important;
}

@media all and (display-mode: standalone) {
    .app-only {
        display: inline !important;
    }
}


.web-only {
    display: block;
}
@media all and (display-mode: standalone) {
    .web-only {
        display: none;
    }
}



.open_fs {
    display: inline;
}

.close_fs {
    display: none;
}

@media all and (display-mode: fullscreen) {
    .open_fs {
        display: none;
    }

    .close_fs {
        display: inline;
    }
} 