

$base_font_family: 'Roboto', sans-serif;;

$base_font_weight_thin: 200;
$base_font_weight_normal: 300;
$base_font_weight_thick: 400;
$base_font_weight_bold: 700;

$base_font_size: 15px;
$base_line_height: 1.5;
$base_font_color: #111;


body {
    text-rendering: optimizeLegibility;
    //-webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased;
    font-family: $base_font_family;
    font-size: $base_font_size;
    font-weight: $base_font_weight_normal;
    color: $base_font_color;

}

