.settings {
    &.open {
        display: flex;
    }
}


.full_overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    background-color: rgba(19, 37, 44, 0.9);
    color: $blue_4;

    display: none;
    justify-content: center;
    //align-items: center;
    text-align: center;
    font-size: 1.2em;


    button.close {
        position: absolute;
        top: 30px;
        right: 30px;
        color: $white_1;
        font-size: 1.0em;
        border: 1px solid $white_1;
        padding: 10px 10px 6px 10px;
        border-radius: 8px;
        background-color: rgba(255,255,255, 0.2);
    }

    h4 {
        font-size: 2em;
        margin: 10vh 0 20px;
        color: $white_1;
        letter-spacing: 0.1em;
    }


    .installer {
        margin: 20px 0;
        button {
            background:$gold_1;
            color: $gold_4;
            padding: 10px 20px;
            border: 1px solid black;
            border-radius: 10px;
            font-size: 0.8em;
            text-transform: uppercase;
        }

        .percent {
            color: $gold_4;
            margin: 20px;
            font-weight: 700;
        }
    }

}









.documentation {

    .float_toc {
        position: sticky;
        top: 0px;
        right: 20px;
        display: none;
    }

    aside {
        padding: 0 0 0 20px;
    }

    img.docimg {
        border: $gold_3 1px solid;
        margin: 20px;
    }
   
    background-color: $parchment;

    h1 {
        font-size: 36px;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 28px;
        margin-bottom: 15px;
    }

    h3 {
        font-size: 20px;
        margin: 30px 0 10px;
        color: $blue_2;
    }

    a {
        color: $gold_1;
        text-decoration: underline;
    }

    p {
        color: #393939;
        z-index: 2;
        font-size: 16px;
        line-height: 1.5em;
        margin-bottom: 1rem;
        padding: 0 10px;
    }

    iframe {
        margin: 0 10px;
    }

    ul {
        list-style-type: disc;
        margin: 0 1.5em;
        padding-left: 1.5em;
        li {
            display: list-item;
            margin: .2em 0;
        }
    }

    aside.controls {
        ul.markerbuttons {
            list-style-type: none;
            img {
                width: 50px;
                vertical-align: middle;
                margin: 0 20px 0 0;
            }
            li {
                margin-bottom: 10px;
            }
        }
        p.astrix {
            font-size: 0.8em;
            margin: 0;
            span {
                font-style: italic;
            }
        }

         margin-bottom: 15px;
    }


    header {
        height: 100px;
        background-color: $blue_2;
        img {
            margin: 20px 10px 0 0;
            height: 60px;
            vertical-align: bottom;
        }
        h1 {
            display: inline;
        }

        a {
            color: $white_1;
            text-decoration: none;
        }
    }

}

.docs {
    padding: 50px 0;
    .featurelist {
        margin-bottom: 18px;
    }
}

.site_margins {
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
}