.home {
    #mapid { height: calc(100vh - 20px); }

    section {
        display: flex;
        background-color: #222;
        color: #ccc;

        aside {
            width: 200px;
            border-right: 1px solid #000;
        }
        article {
            flex: 1;
            /*display: grid;
            grid-template-columns: 20px auto;
            grid-template-rows: 20px auto;
            grid-column-gap: 0px;
            grid-row-gap: 0px;


            .corner {
                background-color: #000;
            } */
        }
    }

}


.my-div-icon {
    width: 40px;
    height: 40px;
    background-color: blue;
}


.customclass {
    &:hover {
        //opacity: 0.5;
        fill-opacity: 0.2;
        stroke-opacity: 0.7;
    }
    z-index: 60;
}


.alphanum_grid {
    z-index: 30;
}



