.home {
    #mapid { 
        height: 100vh; 
        background-color: #000;
    }

    section {
        display: flex;
        background-color: #222;
        color: #ccc;

        aside {
            width: 60px;
            @include breakpoint(md) {
                width: 120px;
            }
            
            border-right: 1px solid #000;
            text-align: center;
            position: relative;

            .sotm_logo {
                width: 70%;
            }

            .icons {
                position: absolute;
                bottom: 10px;
                width: 100%;
                text-align: center;
                a {
                    display: inline;
                    padding: 0;
                    @include breakpoint(md) {
                        padding: 0 3px;
                    }
                    img {
                        width: 20px;
                        opacity: 0.5;
                    }
                    &:hover {
                        img {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        article {
            flex: 1;

            .floating_dialog {
                position: absolute;
                bottom: 10px;
                display: block;
                background-color: #000;
                color: #ccc;
                z-index: 4000;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                padding: 20px 40px;
                border: white 2px solid;
            }
        }
    }

}


.my-div-icon {
    width: 40px;
    height: 40px;
    background-color: blue;
}




.alphanum_grid {
    z-index: 30;
}


.buttonGroup {
    
    border-top: 1px solid #111;
    padding: 8px 0;
    margin: 8px 0;

    &:last-child {
        border-bottom: 1px solid #111;
    }

    fieldset.toggle {
        width: 100%;
        margin: 4px 0 4px 0;

        input {
            display: none;
        }
        
        label {
            display: inline-block;
            width: 30px;
            height: 30px;
            background-repeat: no-repeat;
            background-size:cover;
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
            &[for="chickens"] {
                background-image: url(/images/toggle_chickens.png);
            }
            &[for="snakes"] {
                background-image: url(/images/toggle_snakes.png);
            }
            &[for="pigs"] {
                background-image: url(/images/toggle_pigs.png);
            }
            &[for="thrones"] {
                background-image: url(/images/toggle_thrones.png);
            }
        }

        input:checked + label {
            -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
            filter: grayscale(0%);
        }
    }


}



.island-finder {
    p {
        font-size: 10px;
        margin-bottom: 5px;
    }

    button {
        color: #111;
        background: #ccc;
        padding: 5px 8px;
        border-radius: 5px;
        margin: 8px;
    }
}

.installBut {
    padding: 8px;
    position: absolute;
    bottom: 50px;
    width: 100%;
    display: none;

    &.showme {
        display: block;
    }

    img {
        width: 30px;
    }
    span {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 10px;
        text-transform: uppercase;
    }
}




.context_popup {
    /* .leaflet-popup-content {
        width: 120px !important;
    } */
    ul {
        li {
            padding: 6px;
            text-transform: uppercase;
            cursor: pointer;
            text-align: center;
            font-size: 0.8em;
        }
    }
}
