.home {
    #mapid { 
        height: 100vh; 
    }

    section {
        display: flex;
        background-color: #222;
        color: #ccc;

        aside {
            width: 140px;
            border-right: 1px solid #000;
            text-align: center;
            position: relative;

            .icons {
                position: absolute;
                bottom: 10px;
                width: 100%;
                text-align: center;
                a {
                    display: inline;
                    padding: 0 3px;
                    img {
                        width: 20px;
                        opacity: 0.5;
                    }
                    &:hover {
                        img {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        article {
            flex: 1;
        }
    }

}


.my-div-icon {
    width: 40px;
    height: 40px;
    background-color: blue;
}


.customclass {
    //fill-opacity: 0.2;
    //stroke-opacity: 0.7;
    &:hover {
        //opacity: 0.5;
        fill-opacity: 0.7;
        stroke-opacity: 0.7;
    }
    z-index: 60;
}


.alphanum_grid {
    z-index: 30;
}



.island-finder {
    p {
        font-size: 10px;
        margin-bottom: 5px;
    }

    button {
        color: #111;
        background: #ccc;
        padding: 5px 8px;
        border-radius: 5px;
    }
}


