$searchWidth: 225px;


aside.sidebar {

    //background: $blue_1; /* Old browsers */
    //background: -moz-linear-gradient(top, $blue_1 0%, $dark 100%); /* FF3.6-15 */
    //background: -webkit-linear-gradient(top, $blue_1 0%,$dark 100%); /* Chrome10-25,Safari5.1-6 */
    //background: linear-gradient(to bottom, $blue_1 0%,$dark 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    background: $sea_green_1;
    background: linear-gradient(180deg, rgba($sea_green_1,1) 0%, rgba($sea_green_2,1) 100%);
    

    
    
    border-right: 1px solid $blue_1;
    text-align: center;
    position: relative;



    &.left {
        filter: drop-shadow(2px 2px 4px $sea_green_2);
        width: 1px;
        //border-right: solid $gold_01 1px;

        @include transition(width, .4s); 

        @include breakpoint(md) {
            width: $searchWidth;   
        } 

        

        .search_holder {
            width: $searchWidth;
            position: absolute;
            right: 0px;
            overflow: hidden;
            height: 100vh;
            display: flex;
            flex-direction: column;
        }

        .mobile_search_toggle {
            position: absolute;
            color: white;
            background: $sea_green_1;
            width: 30px;
            height: 44px;
            right: -30px;
            top: 10px;
            @include breakpoint(md) {
                display: none;   
            } 
            /* border-right: solid $gold_01 1px;
            border-top: solid $gold_01 1px;
            border-bottom: solid $gold_01 1px; */
            text-align: center;

            img {
                margin-top: 10px;
                width: 85%;

                &.collapse {
                    display: none;
                    width: 75%;
                    margin-top: 12px;
                }
            }
    

            
        }

        &.open {
            width: $searchWidth;

            .mobile_search_toggle {
                .collapse {
                    display: inline;
                }
                .mglass {
                    display: none;
                }
            }
        }

        
        height: 100vh;
        text-align: left;
        //overflow: hidden;
        position: relative;
        z-index: 4000;

        fieldset {
            position: relative;
            .filter-search-input {
                background: white;
                width: calc(100% - 20px);
                color: $blue_1;
                padding: 10px;
                margin: 10px;
                border-radius: 6px;
    
                border: 2px solid $blue_1;
                &:focus {
                    border: 2px solid $blue_4;
                }
            }


            .search-cancel {
                display: block;
                width: 22px;
                height: 22px;
                position: absolute;
                right: 10px;
                top: 10px;
                span {
                        display: none;
                        font-size: 26px;
                        line-height: 20px;
                        color: $blue_2;
                        font-weight: bold;
                }
    
                &.searching {
                    span {
                        display: block;
                    }
                }
            }
        }


        


        .list_of_places {
            //padding: 0 15px;
            /* height: 500px; */
            flex: 1;
            overflow-x: hidden;
            overflow-y: scroll;
            border-top: 1px solid white;
            border-bottom: 1px solid white;

            li {
                padding: 7px 10px;
                cursor: pointer;
                background-color: rgba(255,255,255,0.2);
                border: 1px solid rgba(0,0,0,0);

                &.beaconClass {
                    background-color: rgba($beacon, 0.2);
                }

                &.throneClass {
                    background-color: rgba($throne, 0.2);
                }

                &.talltaleClass {
                    background-color: rgba($talltale, 0.2);
                }

                &.cargoClass {
                    background-color: rgba($cargo, 0.2);
                }

                &:hover {
                    color: white;
                    border: 1px solid $blue_1;
                }

                &.filteredOut {
                    display: none;
                }
                
            }

            &.searching {
                li {
                    display: none;
                    
                    
                    &.found:not(.filteredOut) {
                        display: block;
                    }

                    &.highlight {
                        font-weight: 700;
                        background-color: rgba(255,255,255,0.5);
                        border-top: 1px solid $blue_1;
                        border-bottom: 1px solid $blue_1;
                        color: $blue_1;
                    }

                    &:hover {
                        color: white;
                    }

                    /* &:focus {
                        color: red;
                    } */
                }
                
            }

            
        }


        
        .filter_space {
            height: 50px;

            .filter_toggle {
                text-align: center;
                padding: 5px 10px;
                button {
                    padding: 10px;
                    width: 100%;
                    background-color: $blue_2;
                    color: white;
                }
            }

            .filter_buttons {
                display: flex;
                
                padding: 0 10px;
                flex-direction: column;
    
                label {
                    margin: 4px 0;
                    .switch_label {
                        white-space: nowrap;
                    }
    
                    &:first-child {
                        margin: 10px 0 4px;
                    }
                }
            }

            &.open {
                height: 150px;
            }


        }

        
    }




    .maps-panel-trig {
        display: block;
        position: absolute;
        top: 70px;
        right: -28px;
        height: 40px;
        width: 30px;
        line-height: 40px;
        color: #000;
        font-size: 12px;
        text-align: center;
        background-color: $white_1;
        overflow: hidden;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
        z-index: 1;


    }

    .sotm_logo {
        width: 70%;
    }

    .icons {
        position: absolute;
        bottom: 10px;
        width: 100%;
        text-align: center;

        a {
            display: inline;
            padding: 0;
            @include breakpoint(md) {
                padding: 0 3px;
            }
            img {
                width: 20px;
                opacity: 0.5;
            }
            &:hover {
                img {
                    opacity: 1;
                }
            }
        }
        p {
            font-size: 9px;
            color: #888;
            text-align: center;
            font-weight: 700;
        }
    }


    .buttonGroup {
        
        border-top: 1px solid $blue_2;
        padding: 8px 0;
        margin: 8px 0;

        &:last-child {
            border-bottom: 1px solid $blue_2;
        }

        fieldset.toggle {
            width: 100%;
            margin: 4px 0 4px 0;

            input {
                display: none;
            }
            
            label {
                display: inline-block;
                width: 30px;
                height: 30px;
                background-repeat: no-repeat;
                background-size:cover;
                -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                filter: grayscale(100%);
                &[for="chickens"] {
                    background-image: url(/images/toggle_chickens.png);
                }
                &[for="snakes"] {
                    background-image: url(/images/toggle_snakes.png);
                }
                &[for="pigs"] {
                    background-image: url(/images/toggle_pigs.png);
                }
                &[for="thrones"] {
                    background-image: url(/images/toggle_thrones.png);
                }
                &[for="beacons"] {
                    background-image: url(/images/toggle_beacons.png);
                }
                &[for="cargoruns"] {
                    background-image: url(/images/toggle_crates.png);
                }
                &[for="talltales"] {
                    background-image: url(/images/toggle_talltales.png);
                }
            }

            input:checked + label {
                -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
                filter: grayscale(0%);
            }
        }


    }






    .island-finder {

        padding: 8px 0 0 0;

        button {
            padding: 0;
            margin: 0;

            .mapfinder_image {
                display: block;
                margin: 0 auto;
                width: 90%;
            }

        }

        /* p {
            font-size: 10px;
            margin-bottom: 5px;
        } */

        /* button {
            color: $blue_4;
            background: $blue_2;
            padding: 8px 8px 6px;
            border-radius: 5px;
            margin: 8px;
        } */
    }

    .subcontrols {
        a, button {
            display: block;
            margin: 10px auto;
            img {
                width: 28px;
                opacity: 0.5;
            }
            &:hover {
                img {
                    opacity: 1;
                }
            }
        }

        a {
            img {
                width: 30px;
            }
        }

        .gear {
            img {
                width: 30px;
            }
        }
    }

    .installBut {
        padding: 8px;
        position: absolute;
        bottom: 40px;
        width: 100%;
        display: none;

        &.showme {
            display: block;
        }

        img {
            width: 30px;
        }
        span {
            display: block;
            width: 100%;
            text-align: center;
            font-size: 10px;
            text-transform: uppercase;
        }
    }





    &.right {
        width: 60px;
        @include transition(width, .4s);

        .right-panel-toggle {
            width: 22px;
            height: 32px;
            display: block;
            position: absolute;
            background: $sea_green_1;
            z-index: 4000;
            left: -22px;
            top: calc(50% - 16px);
            border-radius: 6px 0 0 6px;
            padding: 3px 0 0 2px;
        }

        &.closed {
            width: 1px;

        }

    }


}

