/* ********** COLORS ************* */
/*
@mixin logoSprite($posX, $posY) {
    background: $logo_sprite no-repeat $posX $posY;

    @include highResSprite($logo_sprite_2x, $logo_sprite_size);
}
*/
/*
USEAGE:

aside.primary {
  @include breakpoint(md) {
    float: right;
    width: 350px;
  }
  @include breakpoint(480px) {
    display: none;
  }
  @include breakpoint($min: 640px, $max: 767px) {
    text-align: center;
    font-style: italic;
  }
}

sizes: xs,sm,md,lg

*/
@font-face {
  font-family: "sot-icons";
  src: url("../fonts/sot-icons.eot");
  src: url("../fonts/sot-icons.eot?#iefix") format("eot"), url("../fonts/sot-icons.woff2") format("woff2"), url("../fonts/sot-icons.woff") format("woff"), url("../fonts/sot-icons.ttf") format("truetype"), url("../fonts/sot-icons.svg#sot-icons") format("svg"); }

.icon:before {
  font-family: "sot-icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none; }

.icon-arrow1_down:before {
  content: "\E001"; }

.icon-arrow1_left:before {
  content: "\E002"; }

.icon-arrow1_right:before {
  content: "\E003"; }

.icon-arrow1_up:before {
  content: "\E004"; }

.icon-arrow2_down:before {
  content: "\E005"; }

.icon-arrow2_left:before {
  content: "\E006"; }

.icon-arrow2_right:before {
  content: "\E007"; }

.icon-arrow2_up:before {
  content: "\E008"; }

.icon-arrow3_down:before {
  content: "\E009"; }

.icon-arrow3_left:before {
  content: "\E00A"; }

.icon-arrow3_right:before {
  content: "\E00B"; }

.icon-arrow3_up:before {
  content: "\E00C"; }

.icon-arrow4_down:before {
  content: "\E00D"; }

.icon-arrow4_left:before {
  content: "\E00E"; }

.icon-arrow4_right:before {
  content: "\E00F"; }

.icon-arrow4_up:before {
  content: "\E010"; }

.icon-arrow5_down:before {
  content: "\E011"; }

.icon-arrow5_left:before {
  content: "\E012"; }

.icon-arrow5_right:before {
  content: "\E013"; }

.icon-arrow5_up:before {
  content: "\E014"; }

.icon-close1:before {
  content: "\E015"; }

.icon-close2:before {
  content: "\E016"; }

.icon-facebook:before {
  content: "\E017"; }

.icon-instagram:before {
  content: "\E018"; }

.icon-magnify:before {
  content: "\E019"; }

.icon-map1:before {
  content: "\E01A"; }

.icon-map2:before {
  content: "\E01B"; }

.icon-map_pin:before {
  content: "\E01C"; }

.icon-mouse:before {
  content: "\E01D"; }

.icon-pinterest:before {
  content: "\E01E"; }

.icon-play_arrow1:before {
  content: "\E01F"; }

.icon-play_arrow2:before {
  content: "\E020"; }

.icon-twitter:before {
  content: "\E021"; }

.islandClass {
  fill-opacity: 0;
  stroke-opacity: 0;
  /* &:hover {
        //opacity: 0.5;
        fill-opacity: 0.7;
        stroke-opacity: 0.7;
    } */
  z-index: 60;
  stroke-width: 2;
  -webkit-transition-property: fill-opacity;
  transition-property: fill-opacity;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  /*Safari bug where transform needs to be prefixed*/
  -webkit-transition-property: stroke-opacity;
  transition-property: stroke-opacity;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  /*Safari bug where transform needs to be prefixed*/ }
  .islandClass.show {
    fill-opacity: 0.2;
    stroke-opacity: 0.7; }
  .islandClass.outpost, .islandClass.seapost {
    fill: #aa9e50;
    stroke: #aa9e50; }
  .islandClass.pigs {
    stroke: #ff4d95;
    fill: #ff4d95; }
  .islandClass.snakes {
    stroke: #008811;
    fill: #008811; }
  .islandClass.chickens {
    stroke: #ff9924;
    fill: #ff9924; }

.chickMarker, .snakeMarker, .pigMarker {
  stroke-width: 2; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none; }

address, em {
  font-style: normal; }

input[type=button], input[type=submit], button {
  cursor: pointer; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  /* -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-text-size-adjust: none;*/ }

body {
  /*overflow:visible;
  overflow-x:visible;
  overflow-y:visible;*/ }

html, body {
  height: 100%; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  font-weight: 400;
  font-size: 100%;
  background: transparent;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline; }

ol, ul {
  list-style: none; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  border: none;
  outline: 0;
  background-color: transparent; }
  button:focus,
  input:focus,
  optgroup:focus,
  select:focus,
  textarea:focus {
    outline: 0; }

select::-ms-value {
  background: none; }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  padding: 0px 0px; }

fieldset {
  margin: 0px 0px;
  padding: 0px 0px; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

input::-ms-clear {
  display: none; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

select {
  -webkit-appearance: none;
  -moz-appearance: none; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/**
  * BOOTSTRAP GRID - I totally ganked it. 
**/
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media (min-width: 768px) {
    .container {
      width: 750px; } }
  @media (min-width: 992px) {
    .container {
      width: 970px; } }
  @media (min-width: 1200px) {
    .container {
      width: 1170px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }
  .container-fluid:before, .container-fluid:after {
    content: " ";
    display: table; }
  .container-fluid:after {
    clear: both; }

.row {
  margin-left: -15px;
  margin-right: -15px; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.33333%; }

.col-xs-2 {
  width: 16.66667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.33333%; }

.col-xs-5 {
  width: 41.66667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.33333%; }

.col-xs-8 {
  width: 66.66667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.33333%; }

.col-xs-11 {
  width: 91.66667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.33333%; }

.col-xs-pull-2 {
  right: 16.66667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.33333%; }

.col-xs-pull-5 {
  right: 41.66667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.33333%; }

.col-xs-pull-8 {
  right: 66.66667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.33333%; }

.col-xs-pull-11 {
  right: 91.66667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.33333%; }

.col-xs-push-2 {
  left: 16.66667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.33333%; }

.col-xs-push-5 {
  left: 41.66667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.33333%; }

.col-xs-push-8 {
  left: 66.66667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.33333%; }

.col-xs-push-11 {
  left: 91.66667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.33333%; }

.col-xs-offset-2 {
  margin-left: 16.66667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.33333%; }

.col-xs-offset-5 {
  margin-left: 41.66667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.33333%; }

.col-xs-offset-8 {
  margin-left: 66.66667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.33333%; }

.col-xs-offset-11 {
  margin-left: 91.66667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-1 {
    width: 8.33333%; }
  .col-sm-2 {
    width: 16.66667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.33333%; }
  .col-sm-5 {
    width: 41.66667%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-7 {
    width: 58.33333%; }
  .col-sm-8 {
    width: 66.66667%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-10 {
    width: 83.33333%; }
  .col-sm-11 {
    width: 91.66667%; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-pull-1 {
    right: 8.33333%; }
  .col-sm-pull-2 {
    right: 16.66667%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-4 {
    right: 33.33333%; }
  .col-sm-pull-5 {
    right: 41.66667%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-7 {
    right: 58.33333%; }
  .col-sm-pull-8 {
    right: 66.66667%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-10 {
    right: 83.33333%; }
  .col-sm-pull-11 {
    right: 91.66667%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-push-1 {
    left: 8.33333%; }
  .col-sm-push-2 {
    left: 16.66667%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-4 {
    left: 33.33333%; }
  .col-sm-push-5 {
    left: 41.66667%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-7 {
    left: 58.33333%; }
  .col-sm-push-8 {
    left: 66.66667%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-10 {
    left: 83.33333%; }
  .col-sm-push-11 {
    left: 91.66667%; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-offset-0 {
    margin-left: 0%; }
  .col-sm-offset-1 {
    margin-left: 8.33333%; }
  .col-sm-offset-2 {
    margin-left: 16.66667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.33333%; }
  .col-sm-offset-5 {
    margin-left: 41.66667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.33333%; }
  .col-sm-offset-8 {
    margin-left: 66.66667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.33333%; }
  .col-sm-offset-11 {
    margin-left: 91.66667%; }
  .col-sm-offset-12 {
    margin-left: 100%; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-1 {
    width: 8.33333%; }
  .col-md-2 {
    width: 16.66667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.33333%; }
  .col-md-5 {
    width: 41.66667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.33333%; }
  .col-md-8 {
    width: 66.66667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.33333%; }
  .col-md-11 {
    width: 91.66667%; }
  .col-md-12 {
    width: 100%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-pull-1 {
    right: 8.33333%; }
  .col-md-pull-2 {
    right: 16.66667%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-4 {
    right: 33.33333%; }
  .col-md-pull-5 {
    right: 41.66667%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-7 {
    right: 58.33333%; }
  .col-md-pull-8 {
    right: 66.66667%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-10 {
    right: 83.33333%; }
  .col-md-pull-11 {
    right: 91.66667%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-push-1 {
    left: 8.33333%; }
  .col-md-push-2 {
    left: 16.66667%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-4 {
    left: 33.33333%; }
  .col-md-push-5 {
    left: 41.66667%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-7 {
    left: 58.33333%; }
  .col-md-push-8 {
    left: 66.66667%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-10 {
    left: 83.33333%; }
  .col-md-push-11 {
    left: 91.66667%; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-offset-0 {
    margin-left: 0%; }
  .col-md-offset-1 {
    margin-left: 8.33333%; }
  .col-md-offset-2 {
    margin-left: 16.66667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.33333%; }
  .col-md-offset-5 {
    margin-left: 41.66667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.33333%; }
  .col-md-offset-8 {
    margin-left: 66.66667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.33333%; }
  .col-md-offset-11 {
    margin-left: 91.66667%; }
  .col-md-offset-12 {
    margin-left: 100%; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-1 {
    width: 8.33333%; }
  .col-lg-2 {
    width: 16.66667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.33333%; }
  .col-lg-5 {
    width: 41.66667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.33333%; }
  .col-lg-8 {
    width: 66.66667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.33333%; }
  .col-lg-11 {
    width: 91.66667%; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-pull-1 {
    right: 8.33333%; }
  .col-lg-pull-2 {
    right: 16.66667%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-4 {
    right: 33.33333%; }
  .col-lg-pull-5 {
    right: 41.66667%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-7 {
    right: 58.33333%; }
  .col-lg-pull-8 {
    right: 66.66667%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-10 {
    right: 83.33333%; }
  .col-lg-pull-11 {
    right: 91.66667%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-push-1 {
    left: 8.33333%; }
  .col-lg-push-2 {
    left: 16.66667%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-4 {
    left: 33.33333%; }
  .col-lg-push-5 {
    left: 41.66667%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-7 {
    left: 58.33333%; }
  .col-lg-push-8 {
    left: 66.66667%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-10 {
    left: 83.33333%; }
  .col-lg-push-11 {
    left: 91.66667%; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-offset-0 {
    margin-left: 0%; }
  .col-lg-offset-1 {
    margin-left: 8.33333%; }
  .col-lg-offset-2 {
    margin-left: 16.66667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.33333%; }
  .col-lg-offset-5 {
    margin-left: 41.66667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.33333%; }
  .col-lg-offset-8 {
    margin-left: 66.66667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.33333%; }
  .col-lg-offset-11 {
    margin-left: 91.66667%; }
  .col-lg-offset-12 {
    margin-left: 100%; } }

.leaflet-control-search .search-tooltip {
  right: 0;
  left: auto;
  max-height: 145px;
  overflow: visible; }

.leaflet-control-search .search-tip {
  padding: 8px; }
  .leaflet-control-search .search-tip.cargo {
    position: relative; }
    .leaflet-control-search .search-tip.cargo:before {
      position: absolute;
      content: '';
      width: 26px;
      height: 26px;
      background-image: url(/images/toggle_crates.png);
      background-size: cover;
      display: block;
      left: -19px;
      top: 5px; }

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #111; }

body {
  background: #061212; }

.leaflet-tile-container img {
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0.05); }

.app-only {
  display: none !important; }

@media all and (display-mode: standalone) {
  .app-only {
    display: inline !important; } }

.web-only {
  display: block; }

@media all and (display-mode: standalone) {
  .web-only {
    display: none; } }

.open_fs {
  display: inline; }

.close_fs {
  display: none; }

@media all and (display-mode: fullscreen) {
  .open_fs {
    display: none; }
  .close_fs {
    display: inline; } }

aside.sidebar {
  background: #13252c;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#13252c), to(#061212));
  background: linear-gradient(to bottom, #13252c 0%, #061212 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  width: 60px;
  border-right: 1px solid #13252c;
  text-align: center;
  position: relative; }
  @media (min-width: 992px) {
    aside.sidebar {
      width: 120px; } }
  aside.sidebar .maps-panel-trig {
    display: block;
    position: absolute;
    top: 70px;
    right: -28px;
    height: 40px;
    width: 30px;
    line-height: 40px;
    color: #000;
    font-size: 12px;
    text-align: center;
    background-color: white;
    overflow: hidden;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    z-index: 1; }
  aside.sidebar .sotm_logo {
    width: 70%; }
  aside.sidebar .icons {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center; }
    aside.sidebar .icons a {
      display: inline;
      padding: 0; }
      @media (min-width: 992px) {
        aside.sidebar .icons a {
          padding: 0 3px; } }
      aside.sidebar .icons a img {
        width: 20px;
        opacity: 0.5; }
      aside.sidebar .icons a:hover img {
        opacity: 1; }
    aside.sidebar .icons p {
      font-size: 9px;
      color: #888;
      text-align: center;
      font-weight: 700; }
  aside.sidebar .buttonGroup {
    border-top: 1px solid #267e81;
    padding: 8px 0;
    margin: 8px 0; }
    aside.sidebar .buttonGroup:last-child {
      border-bottom: 1px solid #267e81; }
    aside.sidebar .buttonGroup fieldset.toggle {
      width: 100%;
      margin: 4px 0 4px 0; }
      aside.sidebar .buttonGroup fieldset.toggle input {
        display: none; }
      aside.sidebar .buttonGroup fieldset.toggle label {
        display: inline-block;
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-filter: grayscale(100%);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(100%); }
        aside.sidebar .buttonGroup fieldset.toggle label[for="chickens"] {
          background-image: url(../images/toggle_chickens.png); }
        aside.sidebar .buttonGroup fieldset.toggle label[for="snakes"] {
          background-image: url(../images/toggle_snakes.png); }
        aside.sidebar .buttonGroup fieldset.toggle label[for="pigs"] {
          background-image: url(../images/toggle_pigs.png); }
        aside.sidebar .buttonGroup fieldset.toggle label[for="thrones"] {
          background-image: url(../images/toggle_thrones.png); }
        aside.sidebar .buttonGroup fieldset.toggle label[for="beacons"] {
          background-image: url(../images/toggle_beacons.png); }
        aside.sidebar .buttonGroup fieldset.toggle label[for="cargoruns"] {
          background-image: url(../images/toggle_crates.png); }
      aside.sidebar .buttonGroup fieldset.toggle input:checked + label {
        -webkit-filter: grayscale(0%);
        /* Safari 6.0 - 9.0 */
        filter: grayscale(0%); }
  aside.sidebar .island-finder .mapfinder_image {
    display: block;
    margin: 0 auto 8px; }
  aside.sidebar .island-finder p {
    font-size: 10px;
    margin-bottom: 5px; }
  aside.sidebar .island-finder button {
    color: #b5eec8;
    background: #267e81;
    padding: 8px 8px 6px;
    border-radius: 5px;
    margin: 8px; }
  aside.sidebar .subcontrols a, aside.sidebar .subcontrols button {
    display: block;
    margin: 10px auto; }
    aside.sidebar .subcontrols a img, aside.sidebar .subcontrols button img {
      width: 28px;
      opacity: 0.5; }
    aside.sidebar .subcontrols a:hover img, aside.sidebar .subcontrols button:hover img {
      opacity: 1; }
  aside.sidebar .subcontrols a img {
    width: 30px; }
  aside.sidebar .subcontrols .gear img {
    width: 30px; }
  aside.sidebar .installBut {
    padding: 8px;
    position: absolute;
    bottom: 50px;
    width: 100%;
    display: none; }
    aside.sidebar .installBut.showme {
      display: block; }
    aside.sidebar .installBut img {
      width: 30px; }
    aside.sidebar .installBut span {
      display: block;
      width: 100%;
      text-align: center;
      font-size: 10px;
      text-transform: uppercase; }

.leaflet-grid-label {
  width: 100%; }
  .leaflet-grid-label.big {
    font-size: 1.8em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4); }
  .leaflet-grid-label .gridlabel-vert {
    margin-left: 8px; }
  .leaflet-grid-label .gridlabel-vert, .leaflet-grid-label .gridlabel-horiz {
    color: #061212;
    font-weight: 700;
    left: 2px;
    position: relative;
    text-align: center; }

.home #mapid {
  height: 100vh;
  background-color: #000; }

.home section.sotm_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #061212;
  color: #b5eec8; }
  .home section.sotm_wrapper article {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    .home section.sotm_wrapper article .floating_dialog {
      position: absolute;
      bottom: 10px;
      display: block;
      background-color: #267e81;
      color: #b5eec8;
      z-index: 4000;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      padding: 20px 40px;
      border: #b5eec8 2px solid;
      -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
              box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
      opacity: 0;
      -webkit-transition-property: opacity;
      transition-property: opacity;
      -webkit-transition-duration: 200ms;
      transition-duration: 200ms;
      -webkit-transition-timing-function: ease;
      transition-timing-function: ease;
      /*Safari bug where transform needs to be prefixed*/ }
      .home section.sotm_wrapper article .floating_dialog.show {
        -webkit-transition-property: opacity;
        transition-property: opacity;
        -webkit-transition-duration: 600ms;
        transition-duration: 600ms;
        -webkit-transition-timing-function: ease;
        transition-timing-function: ease;
        /*Safari bug where transform needs to be prefixed*/
        opacity: 1; }
      .home section.sotm_wrapper article .floating_dialog .type, .home section.sotm_wrapper article .floating_dialog .direction, .home section.sotm_wrapper article .floating_dialog .title {
        font-weight: 700;
        color: white; }

.my-div-icon {
  width: 40px;
  height: 40px;
  background-color: blue; }

.alphanum_grid {
  z-index: 30; }

.context_popup {
  /* .leaflet-popup-content {
        width: 120px !important;
    } */ }
  .context_popup ul li {
    padding: 6px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    font-size: 0.8em; }

.settings.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.full_overlay {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  background-color: rgba(19, 37, 44, 0.9);
  color: #b5eec8;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 1.2em; }
  .full_overlay button.close {
    position: absolute;
    top: 30px;
    right: 30px;
    color: white;
    font-size: 1.0em;
    border: 1px solid white;
    padding: 10px 10px 6px 10px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.2); }
  .full_overlay h4 {
    font-size: 2em;
    margin: 10vh 0 20px;
    color: white;
    letter-spacing: 0.1em; }
  .full_overlay .installer {
    margin: 20px 0; }
    .full_overlay .installer button {
      background: #776e38;
      color: #d8cb73;
      padding: 10px 20px;
      border: 1px solid black;
      border-radius: 10px;
      font-size: 0.8em;
      text-transform: uppercase; }
    .full_overlay .installer .percent {
      color: #d8cb73;
      margin: 20px;
      font-weight: 700; }

.documentation {
  background-color: #cdc1a2; }
  .documentation .float_toc {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    right: 20px;
    display: none; }
  .documentation aside {
    padding: 0 0 0 20px; }
  .documentation img.docimg {
    border: #aa9e50 1px solid;
    margin: 20px; }
  .documentation h1 {
    font-size: 36px;
    margin-bottom: 20px; }
  .documentation h2 {
    font-size: 28px;
    margin-bottom: 15px; }
  .documentation h3 {
    font-size: 20px;
    margin: 30px 0 10px;
    color: #267e81; }
  .documentation a {
    color: #776e38;
    text-decoration: underline; }
  .documentation p {
    color: #393939;
    z-index: 2;
    font-size: 16px;
    line-height: 1.5em;
    margin-bottom: 1rem;
    padding: 0 10px; }
  .documentation iframe {
    margin: 0 10px; }
  .documentation ul {
    list-style-type: disc;
    margin: 0 1.5em;
    padding-left: 1.5em; }
    .documentation ul li {
      display: list-item;
      margin: .2em 0; }
  .documentation aside.controls {
    margin-bottom: 15px; }
    .documentation aside.controls ul.markerbuttons {
      list-style-type: none; }
      .documentation aside.controls ul.markerbuttons img {
        width: 50px;
        vertical-align: middle;
        margin: 0 20px 0 0; }
      .documentation aside.controls ul.markerbuttons li {
        margin-bottom: 10px; }
    .documentation aside.controls p.astrix {
      font-size: 0.8em;
      margin: 0; }
      .documentation aside.controls p.astrix span {
        font-style: italic; }
  .documentation header {
    height: 100px;
    background-color: #267e81; }
    .documentation header img {
      margin: 20px 10px 0 0;
      height: 60px;
      vertical-align: bottom; }
    .documentation header h1 {
      display: inline; }
    .documentation header a {
      color: white;
      text-decoration: none; }
  .documentation footer {
    margin-top: 20px;
    padding: 20px 0;
    background-color: #13252c;
    color: white; }
    .documentation footer p {
      color: white; }

.docs {
  padding: 50px 0; }
  .docs .featurelist {
    margin-bottom: 18px; }

.site_margins {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%; }

/* go ahead use this file. No one will care... it's all good */
/* this is for specificity fixes... */
/* no styles go in here *./
/* use one of the files above */

/*# sourceMappingURL=maps/styles.css.map */
